.header{
    border: 2px solid black;
    height: 550px;
    background-position: center center;
    background-size: 100% 100%;
}
/* .header .logo{
    height: 40px;
    background-color: #ffffff;
} */
/* .title-container{
    color: rgba(61, 20, 20, 0.699);
    text-align: center;
    font-size: 2em;
} */


 